body{
	background:silver;
}


.navbar a{
color: white;
}

.navbar li a:hover{
background: orange;
}

#header{
	height:400px;
	padding: 1px;
	background-image: url('web_images/bb.jpeg');
	 background-repeat: no-repeat; 
 background-size: 100% 100%;
 
}

.navbar-custome{
	position: absolute;
 top: 0;
 width: 100%;
}

.navbar-header a{
	font-size: 25px;
}

#div_1{
	margin-top: 100px;
	font-size: 25px;
	font-weight: bold;
}

#posts{
	border-bottom: 1px solid black;
}
#posts h1{
	font-weight: bold;
}
#posts h1 a{
	color: black;
	text-decoration: none;
}
#posts h1 a:hover{
	color: brown;
}

.down-btn{
	padding:10px 0px;
}

.btn-default:hover{
background: #337AB7;
}

.nav-center{
	float: none;
	display: table;
	table-layout:fixed;
	margin: 0px auto;
}

img{

}
.item{
height: 700px;
}
.ss{
	
margin: 10px;
padding: 0px;
}

.m-col{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;

}
.carsoul{
	padding: 50px;
}